.school-item {
  border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}

.card {
  margin-bottom: 100rpx;
}

.bottomBtn {
  width: 94%;
  position: fixed;
  bottom: 0;
  background-color: white;
  padding: 10rpx 20rpx 40rpx 20rpx;

}

.infoItem {
  display: flex;
  margin: 20rpx;
  flex-direction: row;

  .infoLabel {
    margin-right: 15rpx;
    margin-top: 12rpx;
    width: 13rpx;
    height: 13rpx;
    background-color: black;
    border-radius: 50%;
  }

  .info-value {
    width: 580rpx;
  }
}




.empty {
  width: 100%;
  height: 300rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(7, 17, 27, 0.3)
}


.secord-title {
  font-size: 26rpx;
}

.skill-list {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

.skill-tag {
  padding: 2rpx 20rpx 2rpx 20rpx;
  border-radius: 50rpx;
  display: inline-block;
  color: #ffffff;
  min-width: 50rpx;
  text-align: center;
  margin: 5rpx;
}

.tag-one {
  background-color: red;
}

.tag-two {
  background-color: orange;
}

.tag-three {
  background-color: purple;
}

.tag-four {
  background-color: blue;
}

.tag-five {
  background-color: green;
}
