.form-item{
    display: flex;
    font-size: 32rpx;
    margin-left: 32rpx;
    padding:24rpx 0;
}
.label{
    width: 172rpx;
    margin-right: 16rpx;
}
.content{
    width: 100%;
}
.addressBtn{
    height: 50rpx;
    padding:0;
}