.item{
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.infoItem{
    display: flex;
    margin: 20rpx;
}
.buttonGroup{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.addBtn{
    width: 100%;
}
.delBtn{
    background-color: #FF4D4F;
    color: white;
}
.oneBtn{
    width: 94%;
    margin: 0 auto;
}