.page{
  // background-color: rgba(57, 77, 97, 0.1);
}
.container {
  position: relative;
}

.top-container {
  height: 440rpx;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 440rpx;
  z-index: -1;
}

.logout {
  width: 110rpx;
  height: 36rpx;
  margin: 42rpx 0 24rpx 32rpx;
}

.logout_item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logout-img {
  width: 36rpx;
  height: 36rpx;
  margin-right: 11rpx;
}

.logout-txt {
  font-size: 28rpx;
  color: #FEFEFE;
  line-height: 28rpx;
}

.user-wrapper {
  display: flex;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar-img {
  width: 160rpx;
  height: 160rpx;
  border-radius: 50%;
  align-self: center;
}

.user-info {
  display: flex;
  flex-direction: row;
  margin-top: 30rpx;
  align-items: center;
}

.user-info-mobile {
  margin-top: 30rpx;
  position: relative;
  font-size: 28rpx;
  color: #FEFEFE;
  line-height: 28rpx;
  align-self: center;
  padding: 0 50rpx;
}
.login_btn{
    color: #FEFEFE;
    border: none;
}
.main{
  padding:30rpx 0;
}
.card{
  width: 94%;
  height: 100%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4rpx;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 33.33%;
  padding: 35rpx 0;
}
.item-img{
  width: 64rpx;
  height: 64rpx;
}

.item-name{
  padding-top: 13rpx;
  font-size: 24rpx;
  color: #666666;
  min-width: 80rpx;
  text-align: center;
}